.socialMediaLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.socialMediaLinks a {
    cursor: pointer;
}

.socialMediaLinks a:hover svg path {
    fill: #FFA542;
}

@media (max-width: 992px) {
    .socialMediaLinks {
        justify-content: start;
    }
}

@media (max-width: 576px) {
    .socialMediaLinks {
        gap: 8px;
    }

    .socialMediaLinks a svg {
        max-width: 25px;
    }
}