.general {
    width: 349px;
    background-color: #fff;
    border-radius: 30px;
    height: 120px;
}

.button {
    background: #101010;
    border: none;
    border-radius: 20px;
    color: #fff;
    height: 65px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
    width: 100%;
}

.button:active {
    background: #838383;
}

.totalSum_text, .totalSum_num{
    text-transform: uppercase;
    font-size: 15px;
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 21px 16px 15px 20px;
}
