.general {
    margin-bottom: 28px;
    position: sticky;
    top: 0;
    background: rgba(234, 234, 234, 0.8);
    z-index: 20;
}

.wrapper {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1110px;
    margin: 0 auto;
}

.headerNavigation {
    display: flex;
    flex-direction: row;
}

.headerNavigation_icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}