.general {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 992px) {
    .general {
        flex-direction: column;
        gap: 30px;
    }
    .totalWrapper {
        display: flex;
        justify-content: flex-end;
    }
}